@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Creepster&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,300;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    box-sizing: border-box;    
}
body{
    margin: 0px;
}
.restaurant-card-container{
    background-image: url(./background.png);
    margin: auto;
    padding: 2% 30% 2% 15%;
    background-size: cover;
}
.restaurant-card{
    display: grid;
    grid-template-columns: 60% 60%;
    gap:20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #FFFFFF;
}
.restaurant-img{
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.content,.rating{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.content{
    margin:5% 0% ;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.rate,.price-rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.rate{
    align-items: center;
}
.price-rating>span{
    border: 1px solid white;
    margin-left: 20px;
    margin-right:20px;
}
    
.content>*{
    margin: 5px;
}
.name{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
}
.a{
    margin-top: 2px;
    margin-bottom: 2px;
}
.food-container{
    display: grid;
    grid-template:auto auto/repeat(2,1fr) ;
    padding: 2% 10%;
    gap:10px;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    padding: 10px;
    gap:10px;
    
}
.food-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:30px;
}
.food-rating>*{
    margin: 0px;
}
.food-content>*{
    margin: 3px;
}
.food-name{
    width: 250px;
    color:  #334155;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.2px;
    margin: 0px;
}
.add{
    width: 58px;
    height: 32px;
    padding: 6px 16px 8px 14px;
    border-radius: 8px;
    border: 2px solid #FFA412;
    color: #FFA412;
    background-color: white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}
.food-img{
    width: 255px;
    height: 150px;
    border-radius: 8px;
}
.food-content{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 20px 10px 40px;
    flex-direction: column;
}
.btn{
    display: flex;
    align-items: center;
}
.quantity-num{
    margin:0px 10px ;
}


@media (max-width:600px) {
    .food-container{
        display:flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 5px;
    }
    .food-name{
        width:200px;
    }   
    .restaurant-img{
        border-radius: 100%;
        background-position: top;
        height: 100%;
        width:70%;
    }
    .food-img{
        width: 90px;
        height: 60px;
    }
    .restaurant-card{
        grid-template-columns:50% 60% ;
        gap:5px;
    }
    .restaurant-card-container{
        padding:2% 5%;
    }
    .container{
        gap:2px;
        /* width: 100%; */
        grid-template-columns: 50% 60%;
        padding: 10px;
        margin-right: 0;
    }
    .food-content{
       padding: 0;
       width: 80%;
    }
    .name{
        font-size: 16px;
        line-height: 24px;
    }
    .restaurant-card>*{
        font-size: 12px;
        line-height: 16px;
    }
    .content{
        font-size: 12px;
        margin:0px;
    }
    .content>*{
        margin: 0;
        line-height: 20px;
    } 
}
@media (max-width:900px) {
    
    .food-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-bottom: 5px;
    }
}
@media (max-width:1300px) {
    .food-content{
        width: 80%;
        height: 100%;
    }
    .food-img{
        width: 180px;
        height: 120px;
    }
    .food-container{
        grid-template-columns:50% 50% ;
    }
}