*{
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  margin: 0px;
}

.login-page{
  display: flex ;
  justify-content: space-between;
  background-color: white;
}
.login-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60%;
}
.login-form{
  margin: auto;
  background-color: #FEFEFF;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(14, 13, 13,0.3);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}
.login-image{
  background-image: url('../public/Rectangle\ 1456login.png');
  height: 100vh;
  width: 40%;
  background-size: cover;
}
.login-form>h1{
  color: #0F172A;
  font-weight: 600;
  font-size: 32px;
}
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.logo>img{
  width: 43px;
  height: 53px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.logo>h3{
  font-size: 24px;
  color:#F7931E;
  margin-top: 0px;
  padding-bottom: 0px;
  font-style: italic;
}
.user-info,.login-btn{
  display: block;
  width: 360px;
  background-color: #E2E8F0;
  outline: none;
  height: 40px;
  border: none;
  border-radius: 4px;
  text-indent: 10px;
}
.label-text{
  font-size: 12px;
  color:#475569;
  font-weight:600;
}
.login-btn{
  background-color: #F7931E;
  color: white;
  border-radius: 10px;
  margin-block: 12px;
}
.info-container{
  margin-block: 12px;
}
.info-container>p{
  color: red;
}
@media  (max-width:800px) {
  .login-image{
    display:none;
  }
  .login-layout{
    background-image: url('../public/Rectangle\ 1456login.png');
    height: 100vh;
    background-size: cover;
  }
  .login-page{
    display: block;
  }
  .login-form{
    background-color: rgba(255, 255, 255,0.7);
  }
  .user-info,.login-btn{
    max-width: 240px;
    max-height: 32px;
  }
}
@media (max-width:300px) {
  .user-info,.login-btn{
    max-width: 180px;
    max-height: 24px;
  }
  
  
}
